---
import Skelet from "../layout/skelet.astro";
---

<Skelet>
  <style>
    .manag {
      border-top: 0.5px solid #1e1e1e;

      border-bottom: 0.5px solid #1e1e1e;
      padding-bottom: 20px;
    }
    .booking {
      border-bottom: 0.5px solid #1e1e1e;
      padding-bottom: 20px;
    }
    .general {
      border-bottom: 0.5px solid #1e1e1e;
      margin: 0;
      padding-bottom: 20px;
    }
    p,
    h2,
    h1 {
      padding-left: 20px;
    }
    p {
      line-height: 20px;
    }
    body {
      margin: 0;
    }
    .info {
      margin-bottom: 40px;
    }
  </style>
  <h1>Contact</h1>
  <p class="info">At ALPHA we aspire to respond all inquiries within 3-5 business days</p>

  <div class="manag">
    <h2>Management</h2>
    <p>Coco Gaston(she/her)</p>
    <p>Coco@alpha.com</p>
  </div>

  <div class="booking">
    <h2>Booking & Live</h2>
    <p>Hanne Bjerringfelt(she/her)</p>
    <p>Hanne@alpha.com</p>
  </div>

  <div class="general">
    <h2>General Inquiries</h2>
    <p>alpha.mgmt@google.com</p>
  </div>
</Skelet>
