---
import Skelet from "../layout/skelet.astro";
import "../styles/generel.css";
import TalentCarousel from "../components/talent_carousel.astro";
---

<Skelet link="Talent">
  <h1>Talent</h1>
  <p>Discover our talent in music & related fields</p>
  <TalentCarousel />
</Skelet>

<style>
  h1 {
    margin-left: 20px;
  }
  p {
    margin-left: 20px;
    line-height: 10px;
    margin-bottom: 100px;
  }
  body {
    margin: 0;
  }
</style>
