---

---

<header>
  <div class="header_mobile">
    <a href="index.html"><img class="logo" src="/imgs/logo.svg" alt="burger" /></a>
    <img class="ikon_burger" src="/imgs/lines.svg" alt="burger" />
    <img id="ikon_kryds" src="/imgs/kryds.svg" alt="kryds" />
  </div>
  <div id="navbar_mobile">
    <a href="/talent.html" class="right_nav_mobile">TALENT</a>
    <a href="/whats_new.html" class="left_nav_mobile">WHAT'S NEW?</a>
    <a href="/about2.html" class="right_nav_mobile">ABOUT</a>
    <a href="/contact.html" class="left_nav_mobile">CONTACT</a>
  </div>
</header>
<style>
  /**** STYLING AF BURGER MENU *****/
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap"); /* importer font */

  /*skjul burgermenu*/
  #navbar_mobile {
    display: none;
  }
  /*skjul kryds ikon*/
  #ikon_kryds {
    display: none;
  }

  /*gør så burger menu fylder hele skærmen og ligger over andet indhold*/
  #navbar_mobile.hide {
    width: 100%;
    height: 100%;
    background-color: #f1eee8;
    position: fixed; /* ligger over det andet */
    z-index: 10; /* ligger over det andet */
    top: 0; /* starter fra toppen */
    left: 0; /* starter fra venstre */
    overflow-x: hidden; /* Ingen horizontal scroll */
  }

  /*tekst i burgermenu*/
  a {
    color: #1e1e1e;
    text-decoration: none;
    font-family: "Work Sans";
    font-weight: 300;
    font-size: 30px;
    transition: 1s;
  }

  /* lav flex row på menuen*/
  #navbar_mobile.hide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /*Vis kryds ikon ved klik og gør så den sidder over burgermenuen*/
  #ikon_kryds.change {
    display: block;
    max-width: 40px;
    z-index: 130;
    cursor: pointer;
  }
  /*Skjul burger ikon, når burgermenuen er åben*/
  .ikon_burger.hide {
    display: none;
  }

  /*streger over og under + position af tekst i burgermenuen*/
  .right_nav_mobile {
    text-align: left;
    border-bottom: 0.5px solid #1e1e1e;
    width: 70%;
    align-self: flex-end;
    margin-bottom: 3%;
  }
  .left_nav_mobile {
    border-top: 0.5px solid #1e1e1e;
    text-align: right;
    width: 70%;
  }

  /*hover-effekt, så stregerne bliver længere*/
  a:hover {
    width: 80%;
  }

  /**** STYLING AF HEADER *****/

  /*Flex på header og positionering af items*/
  .header_mobile {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  /*styling af burger ikon*/
  .ikon_burger {
    max-width: 40px;
    z-index: 100;
    cursor: pointer;
    height: auto;
  }
  /*styling af logo*/
  .logo {
    max-width: 55px;
    z-index: 110;
    position: relative;
    height: auto;
  }
  /*lav hover på begge ikoner, så de skaleres en smule op*/
  .logo:hover {
    scale: 1.05;
  }
  .ikon_burger:hover {
    scale: 1.05;
  }

  @media (min-width: 800px) {
    .logo {
      max-width: 90px;
    }
    .ikon_burger {
      max-width: 50px;
    }
    a {
      font-size: 35px;
    }
    #ikon_kryds.change {
      max-width: 55px;
    }
  }
</style>

<script>
  // lav konstanter for burger ikon, burger menu og kryds ikon
  const burger = document.querySelector(".ikon_burger");
  const menu = document.querySelector("#navbar_mobile");
  const kryds = document.querySelector(".header_mobile #ikon_kryds");

  // kald funktionen burgermenu, når der klikkes på burger eller kryds
  burger.addEventListener("click", burgermenu);
  kryds.addEventListener("click", burgermenu);

  // toggle class: hide og change (svarer til add ved klik på burgerikon og remove ved klik på kryds)
  // Hvis burgerikonet klikkes vises burgermenuen, og ligger sig ovenpå resten af indholdet
  // Hvis burgerikonet klikkes erstattes burgerikonet med krydset
  function burgermenu() {
    console.log("burger");
    menu.classList.toggle("hide");
    burger.classList.toggle("hide");
    kryds.classList.toggle("change");
  }
</script>
