---
import TalentCard from "./talent_card.astro";
//dataen sorteres efer navn, så det kommer i alfabetisk rækkefølge fra A-Z
const data = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/talent?order=name.asc", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
  },
}).then((res) => res.json());
---

<!-- dataen mappes igennem komponentet Talentcard, og link laves med slug, så der ved klik laves singleview med samme talent som klikkes på -->
<div class="carousel">
  {
    data.map((data) => {
      return <TalentCard data={data} link={`/${data.slug_t}.html`} />;
    })
  }
</div>
<style>
  .carousel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-y: scroll;
    min-width: 100%;
    /* Allow items to wrap if they exceed container width */
    flex-wrap: nowrap;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    scrollbar-width: none;
    margin-bottom: 130px;
  }
  @media (min-width: 800px) {
    .carousel {
      margin-bottom: 0px;
    }
  }
</style>
